<div style='float: right'>
  <a href='/pages/admin/home'>Admin</a>
</div>
<div id="album_list">
  <p> There are {{ albums.length }} albums</p>
  <ul id="albums">
    <!-- section block-->
    {{#albums}}
      <li class="album">
        <a href='http://localhost:8080/pages/album/{{name}}'>{{name}}</a>
      </li>
    {{/albums}}
      <!-- inverted section block : only if alubms is undefined or null or false-->
    {{^albums}}
      <li> Sorry, there are currently no albums </li>
    {{/albums}}
  </ul>
</div>
